<nav class='slide-menu' id="menu">
    <ul>
        <li>
            <a [routerLink]="['']" (click)="slideout.toggle()"><i class="material-icons">border_all</i>Kasse</a>
        </li>
        <li>
            <a [routerLink]="['']" (click)="slideout.toggle()"><i class="material-icons">receipt</i>Kasseabschluss</a>
        </li>
        <li>
            <a [routerLink]="['']" (click)="slideout.toggle()"><i class="material-icons">schedule</i>Historie</a>
        </li>
        <li>
            <a [routerLink]="['']" (click)="slideout.toggle()"><i class="material-icons">swap_horiz</i>Ausgaben</a>
        </li>
    </ul>
</nav>

<header>
    <div class="container">
        <span [routerLink]="['']">Produkte</span>
    </div>
</header>
<div id="panel">
    <main>
      <router-outlet></router-outlet>
    </main>

</div>
<footer>
    <div class="container">
        <ul>
            <li>
                <a [routerLink]="['']" (click)="slideout.toggle()"><span class="material-icons">menu</span></a>
            </li>
            <li>
                <a [routerLink]="['']"><span>Produkte</span></a>
            </li>
        </ul>
    </div>
</footer>