<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <input class="custom-input form-control search-input" type="text"
                   [value]=""
                   (input)="searchValue = $event.target.value"
                   placeholder="Search by Name..."
            />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-success" (click)="[addProductModal.open(),closeSlideOut()]">Produkt Hinzufügen <i class="material-icons">add</i></button>
        </div>
    </div>

    <!--Product details modal-->
    <modal #addProductModal class="addProductModal">
        <modal-header>
            <h1>Produkt hinzufügen</h1>
        </modal-header>
        <modal-content>
            <form ngNativeValidate (ngSubmit)="[addProductModal.close(),addProduct()]"  >
                <input class="custom-input form-control" type="text"
                       placeholder="Name *"
                       [(ngModel)]="newProduct.name"
                       name = "Produktname"
                       required

                />
                <input class="custom-input form-control" type="text"
                       placeholder="Description *"
                       [(ngModel)]="newProduct.description"
                       name = "Beschreibung"
                       required
                />
                <input class="custom-input form-control" type="text"
                       placeholder="Preis *"
                       type="number"
                       [(ngModel)]="newProduct.price"
                       name = "price"
                       required
                />
                <input class="custom-input form-control" type="text"
                       placeholder="ISO 4217 Currency Code *"
                       [(ngModel)]="newProduct.currency"
                       name = "Währung"
                       minlength="3"
                       maxlength="3"
                       required
                />
                <button type="submit" class="btn btn-success hide" #formSubmit></button>
            </form>
        </modal-content>
        <modal-footer>
            <button class="btn btn-success" (click)="formSubmit.click()">Absenden <i class="material-icons">check</i></button>
            <button class="btn btn-primary" (click)="addProductModal.close()">Schließen <i class="material-icons">clear</i></button>
        </modal-footer>
    </modal>

    <div class="product-table">
        <div class="row product-table__row">
            <div class="product-table__item col-lg-3 col-md-4 col-s-6 col-xs-12" *ngFor="let product of products | productFilter:searchValue" >
                <!--Product details modal-->
                <modal #myModal>
                    <modal-header>
                        <h1>{{product.name}}</h1>
                    </modal-header>
                    <modal-content>
                        <p><span class="bold-text">ID:</span> {{product._id}}</p>
                        <p><span class="bold-text">Beschreibung: </span>{{product.description}}</p>
                        <p><span class="bold-text">Preis: </span>{{product.price}} {{product.currency}}</p>
                    </modal-content>
                    <modal-footer>
                        <div class="row">
                            <div class="col-lg-8">
                                <button class="btn btn-primary" (click)="myModal.close()">Schließen <i class="material-icons">clear</i></button>
                                <button class="btn btn-danger" (click)="deleteProduct(product._id)">Produkt löschen <i class="material-icons">remove</i></button>
                            </div>
                        </div>

                    </modal-footer>
                </modal>
                <div class="product-table__item__content" (click)="[myModal.open(),closeSlideOut()]">
                    <img class="product-table__item__content__image" src="/img/product-placeholder.png" />
                    <h2 class="product-table__item__content__name">{{product.name}} </h2>
                    <p class="product-table__item__content__price"><span class="font-weight-bold">{{product.price}} </span>
                        {{product.currency}}</p>
                </div>
            </div>
            <div *ngIf="(products | productFilter:searchValue)?.length == 0">
                <div class="product-table__item">
                    <p >Keine Produkte! Bitte fügen Sie ein neues Produkt hinzu</p>
                </div>
            </div>
        </div>
    </div>
</div>

<simple-notifications></simple-notifications>