footer {
  background-color: $dark-blue;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height:58px;
  overflow: hidden;
  width: 100%;
  float: left;
  z-index: 999;
  ul{
    padding-left: 52px;
    li{
      float: left;
      list-style: none;
      span{
        padding: 0;
      }
      a{
        float: left;
        color:$white;
        padding: $spacing-half;
        font-size: 18px;
        &:hover,&:focus{
          background-color: $dark-highlight-blue;
          border-bottom: 5px solid $light-blue;
          color: $white;
          text-decoration: none;
        }
      }

    }
  }
}