header {
  background-color: $light-gray;
  font-size: 20px;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  span{
    color: $black;
  }

}