.modal{
  p{
    color: $dark-gray;
    width: 100%;
    padding: 18px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $light-gray;
    border-top: 2px solid $light-gray;
    margin: $spacing-half 0;
    font-size: 18px;

    &.title{
      font-weight: 700;
    }
  }
  &-content{
    border-radius: 0;
    border: 1px solid $border-color;
  }
  &-body{
    padding:0;
    border-bottom: 0;
    border-top: 0;
    box-shadow: none;
  }
}
