.product-table{
  &__row {
    margin-right: -($spacing-table);
    margin-left: -($spacing-table);
  }
  &__item{
    padding:$spacing-table ;
    &__content{
      padding: $spacing;
      text-align: center;
      cursor: pointer;
      border: 2px solid #cecece;
      background-color: $white;
      border-bottom: 5px solid #e8a1a3;
      max-height: 290px;
      &:hover{
        opacity: 0.7;
      }
      &__image{
        max-width: 100%;
      }
      &__name{
        font-size: 22px;
        color: $black;
      }
    }
    p{
      margin-bottom: 0;
    }
  }
}