.slide-menu{
  background-color: $dark-blue;
  ul{
    list-style: none;
    padding:0;
    float: left;
    top:100px;
    position: relative;
    li{
      width:100%;
      float: left;
      padding: $spacing-half;
      &:hover{
        background-color: $dark-highlight-blue;
        border-left: 5px solid $light-blue;
      }
      i{
        margin-right: 5px;
        vertical-align: bottom;
      }
      a{
        float: left;
        color:$white;
        font-size: 18px;
        &:hover,&:focus{
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}