// styles in src/style directory are applied to the whole page
body {
    background: $background-color;
    color: $text-color;
    font-family: Lato, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 58px; //Bottom is footer height
}
a{
    &:hover,&:focus{
        text-decoration: none;
    }
}

main {
    padding: 1em;
    margin-top: 50px;
    display: block;
}

h2{
    margin-top: 0;
}

.bold-text{
    font-weight: 700;
}
.custom-input{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: $spacing 19px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $light-gray;
    border-top: 2px solid $light-gray;
    margin: $spacing-half 0;
    &:focus{
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid $light-gray;
        border-top: 2px solid $light-gray;
        box-shadow: none;
    }
    &.search-input{
        margin: $spacing 0 $spacing-half 0;
    }
}

.btn{
    float: left;
    margin-bottom: $spacing-half;
    border-radius: 0;
    i{
        vertical-align: middle;
    }
}

