//Colors
$white: #fff ;
$black: #000;
$dark-blue: #232f3f;
$light-blue: #439ad0;
$dark-highlight-blue: #333f4d;
$background-color: #e0e0e0;
$border-color:#cecece;
$light-gray:#f8f8f8;
$dark-gray:#9C9C9C;


$link-color: #03A9F4;
$text-color: $black;
$green: #3cb444;

//Spacing
$spacing: 30px;
$spacing-half: $spacing/2 ;
$spacing-table: 5px ;
$container-width: 1170px;



